.sidebar{
    width: clamp(18rem, 24vw, 24rem);
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding:2rem;
    height: 100vh;
    
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3rem;

    text-align: center;
}

.avatar{
    width: clamp(10rem, 40%, 14rem);
    aspect-ratio: 1;

    object-fit: cover;
    border-radius: 50%;
}

.badge{
    padding: 0.5rem 1rem;

    border-radius: 999rem;

    border: 0.08rem solid;
}

.profile h1{
    font-size: 1.7rem;
}

.hor{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.role,
.location{
    opacity: 0.7;
}

.links{
    display: flex;
    flex-direction: column;

    gap: 0.9rem;
}

.link-card{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 1.25rem;

    border: 0.08rem solid;
    border-radius: 1.25rem;

    text-decoration: none;
    color: inherit;

    transition:
        transform 0.25s ease,
        opacity 0.25s ease;
}

.link-card:hover{
    transform: translateY(-0.2rem);
    opacity: 0.85;
}

.left{
    display: flex;
    align-items: center;
    gap: 0.9rem;

    font-size: 1rem;
}

.left svg{
    font-size: 1.3rem;
}

.sidebar{
    overflow-y: scroll;
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* IE/Edge */
}

.sidebar::-webkit-scrollbar{
    display: none;              /* Chrome/Safari */
}