body{
    overflow: hidden;
}
.main{
    height: 100vh;
    display: flex;
}

/* LEFT */
.sidebar{
    width: 17rem;
    height: 100vh;

    overflow-y: scroll;

    overscroll-behavior: contain;

    scrollbar-width: none;
    -ms-overflow-style: none;
}
.sidebar::-webkit-scrollbar{
    display: none;
}

/* RIGHT */
.layout{
    flex: 1;

    height: 100vh;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.navbar{
    flex-shrink: 0;
}

.content{
    flex: 1;

    overflow-y: auto;

    overscroll-behavior: contain;

    scrollbar-width: none;
    -ms-overflow-style: none;
    
}
.content::-webkit-scrollbar{
    display: none;
}